html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.todo-app {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-app .header {
    height: 3em;
    line-height: 3em;
    background: lightgray;
    padding: 5px 5px 5px 20px;
    border: 1px solid black;
}

.todo-app .header input {
    position: relative;
    left: 10%;
}

ul > :first-child > .move-up {
    display: none;
}

ul > :last-child > .move-down {
    display: none;
}

@media only screen and (max-width: 375px) {
    .desktop {display: none}
    .mobile {display: block}
    .todo-app {
        margin: 30px 0 40px 0;
    }
}

@media only screen and (min-width: 374px) {
    .mobile {display: none}
    .desktop {display: block}
}